<% if alert %>
	<div class="alert alert-danger col-md-6 mx-auto text-center">
		<%= alert %>
	</div>
<% elsif notice %>
	<div class="alert alert-info col-md-6 mx-auto text-center">
		<%= notice %>
	</div>
<% end %>