<div class="container d-flex justify-content-center">
	<div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 20rem;">
		<div class="card-body">
			<h4 class="card-title text-center text-success">
				Flight detail
			</h4>
			<hr class="divider">
			<p class="card-text">
				<table class="mx-auto">
					<tr>
						<td class="fw-bold">Flight route &nbsp;</td>
						<td>: <%= @flight.depature_airport.code %> -> <%= @flight.arrival_airport.code %></td>
					</tr>
					<tr>
						<td class="fw-bold">Date </td>
						<td>: <%= @flight.start %></td>
					</tr>
					<tr>
						<td class="fw-bold">Airline</td>
						<td>: <%= @flight.airlines %></td>
					</tr>
				</table>
			</p>
		</div>
	</div>
</div>